databases:
  - name: noteapp
    databaseName: noteapp_qmwy
    user: user

services:
  - type: web
    name: noteapp
    env: ruby
    buildCommand: "./bin/render-build.sh"
    startCommand: "bundle exec puma -C config/puma.rb"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: noteapp_qmwy
          property: connectionString
      - key: RAILS_MASTER_KEY
        sync: false
