-name: postgres
ipAllowList: []

databases:
  - name: noteapp
    databaseName: noteapp_u8ji
    user: owenwilson

services:
  - type: web
    name: noteapp
    env: ruby
    buildCommand: "./bin/render-build.sh"
    startCommand: bundle exec rails s
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: noteapp_u8ji
          property: connectionString
      - key: RAILS_MASTER_KEY
        sync: false
